.courseBox{
    flex-direction: column;
    align-items: center;
}
.courseHolder{
    color:#fff;
    padding:5px;
    width: 60%;
    height: 70vh;
    border-top: 4px solid rgb(1, 63, 114);
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(5px);
}
.courseHolder::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 10px;
}
.courseHolder::-webkit-scrollbar{
    background-color: rgba(0, 0, 0, 0.372);
    border-radius: 10px;
}
.courseDescription{
    margin-top: 10px;
    text-align: center;
    font-size: 1.3rem;
}
.courseTitle{
    color:#fff;
    text-align: center;
}
.testAnchor{
    padding: 5px;
    background-color: rgb(0, 84, 133);
    border:5px solid rgb(0, 43, 79);
    border-radius: 5px;
    transition: 0.2s;
}
.testAnchor:hover{
    background-color: rgb(0, 43, 79);
}
@media (max-width:600px) {
    .courseHolder{
        width: 100%;
    }
    .courseDescription{
        font-size: 1rem;
    }
}