.cryptoList{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chartItemsHolder{
    margin-top: 10px;
    height: 69vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: scroll;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.253);
}
.chartItemsHolder::-webkit-scrollbar{
   background-color: rgb(44, 44, 44);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chartItemsHolder::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-radius: 10px;
    
}
.sortingBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
    gap:5px;
}
.sortItems{
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:10px
}
.sortingBox button{
    padding: 7px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
}
.searchInput{
    margin-top: 10px;
    width: 60vw;
    border: 3px solid #fff;
    text-align: center;
    color: #fff;
}
.valueHolder{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 80vw;
    background-color: #e9f8f9;
    border-bottom: 1px solid gray;
}
.valueHolder *{
    padding:2px;
    color:black;
    margin: 5px;
}
.valueHolder img{
    border:none;
}
.valueDescription{
    font-weight: 600;
}
@media (max-width:950px) {
    .valueHolder{
        height: 100%;
        flex-wrap: wrap;
    }
    .valueHolder img{
        height:20%;
    }
    
}

