.newsBox{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:10px;
}
.newsMainTitle{
    color:#fff;
    margin: 20px;
}
.newsButtonsHolder{
    margin-top: 5px;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.newsButttons{
    color: white;
    font-size: 2rem;
    padding: 2px;
    border: 3px solid rgb(0, 52, 95);
    border-radius: 5px;
}