.mainBox {
    display: grid;
    grid-template-columns: repeat(1, 100vw);
    grid-template-rows: repeat(2, 100vh) 40vh;
    color: #fff
}


.mainBox h1{
    font-size:5rem;
}
.mainBox h2{
    font-size:3rem;
}
.mainBox h3{
    font-size:2rem;
}
.section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../../assets/blurTradingDark.jpg);
}

.section1Holder1 {
    margin-left: 40px;
    flex: 1.3;
    flex-direction: column;
    margin-bottom: 250px;
}

.section1Holder2 {
    flex: 0.7;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.headerButtonText {
    position: relative;
    text-decoration: none;
    color: #fff;
    z-index: 2;
}

.headerButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 50%;
    height: 80px;
    font-size: 1.5rem;
    border: 1px solid rgb(0, 179, 255);
    border-radius: 10px;
}

.headerButton:before,
.headerButton:after {
    transition: 1s;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.headerButton:before {
    right: -50px;
    border-right: 50px solid transparent;
    border-bottom: 80px solid rgb(0, 179, 255);
    transform: translateX(-100%);
}

.headerButton:after {
    left: -50px;
    border-left: 50px solid transparent;
    border-top: 80px solid rgb(0, 179, 255);
    transform: translateX(100%);
}

.headerButton:hover:before {
    transform: translateX(-4%);
}

.headerButton:hover:after {
    transform: translateX(4%);
}

.section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: hsla(226, 42%, 37%, 1);

    background: linear-gradient(270deg, hsla(226, 42%, 37%, 1) 0%, hsla(190, 79%, 59%, 1) 100%, hsla(191, 75%, 58%, 1) 100%);
    transform: skew(0, 10deg);
}
.section2Title{
    text-align: center;
}
.infoHolder {
    width: 100%;
    justify-content: space-evenly;
    
}

.infoBox {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
    opacity: 0;
    transform: scale(.75);
    width: 20%;
    padding: 10px;
    border: 2px solid #222;
    border-radius: 5px;
   box-shadow: 10px 10px #222;
   transition: 1s;
}

.infoBox1.active {
    opacity: 1;
    transition: 1s;
    transform: translateY(-150%) scale(1);
  }
.infoBox2.active {
    opacity: 1;
    transition: 2s;
    transform: translateY(-75%) scale(1);
  }
.infoBox3.active {
    opacity: 1;
    transition: 2.2s;
    transform: translateY(0%) scale(1);
  }
.infoBox3 a{
    border: 10px solid rgba(22, 27, 64, 0.1);
    background-color: rgba(22, 27, 64, 0.1);
    border-radius: 10px;
    transition: 0.5s;
}
.infoBox3 a:hover{
    border: 10px solid rgba(22, 27, 64, 1);
    background-color: rgba(22, 27, 64, 1);
}
.circlePoint {
    border: 2px solid #fff;
    text-align: center;
    border-radius: 50%;
}
.mainQuote{
    text-align: left;
}
@media (max-width:1200px) {
    .section1 {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .section1Holder1 {
        flex: 0;
        margin: 0;
    }

    .section1Holder2 {
        flex: 0;
        margin: 0;
    }
    
}

@media (max-width:600px) {
    .section1Title{
        font-size:2rem !important;
    }
    .infoBox{
        width: 40%;
        height: 7rem;

    }
    .infoBox.active{
        margin: 10px;
        transform: translateY(0%);
    }
    .mainBox h1{
        font-size:4rem;
    }
    .mainBox h2{
        font-size:2rem;
    }
    .mainBox h3{
        font-size:2rem;
    }
    .section2{
        text-align: center;
    }
    .infoHolder{
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
    }
    .infoBox p,.infoBox h2,.infoBox a{
        font-size: 10px;
    }
}