
nav{
    width: 100vw;
    height:10vh;
    background-color:#055C9D;
    color:aliceblue;
    display: flex;  
    top:0;
    position:fixed;
    z-index: 100;
}
.nextstepLogoLink{
    height: 100%;
}
.nextstepLogo{
    height: 100%;
}

li{
    display: flex;
    flex:0.2;
    height: 80%;
    justify-content: center;
    align-items: center;
}
ul{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navItems{
    justify-content: space-around;
}
.navItems input{
    height: 70%;
    width: 80%;
    background-color: #fff;
}
@media (max-width:600px) {
    .nextstepLogo{
        height: 50%;
    }
    ul{
        flex-direction: column;
        padding: 10px;
    }
}
@media (max-width:300px) {

}

