.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footerItemsHolder {
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #192445;
    padding: 10px;
    gap: 10px;
}

.madeByHolder {
    background-color: #FFDE59;
    color: black;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    border-radius: 3px;
}

.footerCompanyLogoBox {
    text-align: center;
    color: #fff;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerContactsBox {
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
}
.footerContactsIconsBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footerContactsLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footerContactsLink span {
    color: #fff;
}
@media (max-width:1000px) {
    .footerItemsHolder {
        justify-content: center;
    }
    .footerContactsBox {
        margin: 0;
    }
}
@media (max-width:500px) {
    .footerCompanyLogoBox img{
        height: 50px;
    }
}