body{
   background-color: #111522;
   overflow-x: hidden;
}
body::-webkit-scrollbar{
   background-color: transparent;
}
body::-webkit-scrollbar-thumb{
   background-image: linear-gradient(to right, #0c87c9 0%, #0776b3 100%);
   border-radius:10px ;
}
a{
   cursor: pointer;
   text-decoration: none;
   color:#fff;
}
img{
  height:50%;
}
input{
   padding: 2px;
}
.Box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top:10vh ;
    padding-bottom:5vh ;
    min-height: 100vh;
}
