.newsHolder{
    width:fit-content;
    max-width: 60rem;
    height: fit-content;
    max-height:40vh;
    padding:10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
    color:white;
    background-color:#0000003e;
    border-left: 10px solid #FFDE59;

    backdrop-filter: blur(5px);
}
.newsHolder::-webkit-scrollbar{
    background-color: transparent;
}
.newsHolder::-webkit-scrollbar-thumb{
    background-color: transparent;    
}
.newsHolder a{
    text-align: left;
    color:blue;
}
.newsTitle{
    font-size: xx-large;
}
.newsDescription{
    font-size: larger;
}